:root {
  --image-url-primary: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='80px' height='64px' viewBox='0 0 80 64' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Eplaceholder%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='image-placeholder' transform='translate(-500.000000, -368.000000)' fill='%23000000' fill-rule='nonzero'%3E%3Cg id='Group' transform='translate(500.000000, 368.000000)'%3E%3Cg id='placeholder'%3E%3Cpath d='M32,16 L48,16 L48,8 L56,8 L56,16 L64,16 L64,24 L72,24 L72,32 L80,32 L80,48 L72,48 L72,40 L64,40 L64,48 L56,48 L56,56 L48,56 L48,48 L32,48 L32,56 L24,56 L24,48 L16,48 L16,40 L8,40 L8,48 L0,48 L0,32 L8,32 L8,24 L16,24 L16,16 L24,16 L24,8 L32,8 L32,16 Z M24,32 L32,32 L32,24 L24,24 L24,32 Z M16,0 L24,0 L24,8 L16,8 L16,0 Z M16,56 L24,56 L24,64 L16,64 L16,56 Z M56,32 L56,24 L48,24 L48,32 L56,32 Z M64,0 L64,8 L56,8 L56,0 L64,0 Z M64,56 L64,64 L56,64 L56,56 L64,56 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --image-url-inverse: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='80px' height='64px' viewBox='0 0 80 64' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Eplaceholder%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='image-placeholder' transform='translate(-620.000000, -368.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cg id='Group' transform='translate(500.000000, 368.000000)'%3E%3Cg id='placeholder' transform='translate(120.000000, 0.000000)'%3E%3Cpath d='M32,16 L48,16 L48,8 L56,8 L56,16 L64,16 L64,24 L72,24 L72,32 L80,32 L80,48 L72,48 L72,40 L64,40 L64,48 L56,48 L56,56 L48,56 L48,48 L32,48 L32,56 L24,56 L24,48 L16,48 L16,40 L8,40 L8,48 L0,48 L0,32 L8,32 L8,24 L16,24 L16,16 L24,16 L24,8 L32,8 L32,16 Z M24,32 L32,32 L32,24 L24,24 L24,32 Z M16,0 L24,0 L24,8 L16,8 L16,0 Z M16,56 L24,56 L24,64 L16,64 L16,56 Z M56,32 L56,24 L48,24 L48,32 L56,32 Z M64,0 L64,8 L56,8 L56,0 L64,0 Z M64,56 L64,64 L56,64 L56,56 L64,56 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.theme {
  background-color: var(--bg-color-default);
  
 &_color_project-default {
  --bg-color-default: #fff;
  --bg-color-accent: #ffcc00;
  --bg-color-border: #000;

  --text-color-primary: #000;
  --text-color-secondary: rgba(0, 0, 0, 0.6);
  --text-color-ghost: rgba(0, 0, 0, 0.3);
  --text-color-link: #0077ff;

  --image-url: var(--image-url-primary);
  --image-bg-color: #fff;
  --image-border-color: #fff;
}

&_color_project-brand {
  --bg-color-default: #0077ff;
  --bg-color-accent: #fff;
  --bg-color-border: #fff;

  --text-color-primary: #fff;
  --text-color-secondary:  rgba(255, 255, 255, 0.6);
  --text-color-ghost:  rgba(255, 255, 255, 0.3);
  --text-color-link: #fff;
  
  --image-url: var(--image-url-inverse);
  --image-bg-color: #0077ff;
  --image-border-color: var(--bg-color-border);
}

&_color_project-inverse {
  --bg-color-default: #000;
  --bg-color-accent: #fff;
  --bg-color-border: #fff;

  --text-color-primary: #fff;
  --text-color-secondary: rgba(255, 255, 255, 0.6);
  --text-color-ghost: rgba(255, 255, 255, 0.3);
  --text-color-link: #0070f0;

  --image-url: var(--image-url-inverse);
  --image-bg-color: #000;
  --image-border-color: #000;
}

&_color_project-warning {
  --bg-color-default: green;
  --bg-color-accent: #fff;
  --bg-color-border: #ff3333;

  --text-color-primary: #fff;
  --text-color-secondary: rgba(255, 255, 255, 0.6);
  --text-color-ghost: rgba(255, 255, 255, 0.3);
  --text-color-link: #fff;

  --image-url: var(--image-url-inverse);
  --image-border-color: var(--bg-color-border);
}


&_size_default {
  --text-height-s: 8px;
  --text-height-m: 10px;
  --text-height-l: 11px;
  --text-height-xl: 13px;
  --text-height-xxl: 16px;

  --line-height-s: 21px;
  --line-height-m: 25px;
  --line-height-l: 28px;
  --line-height-xl: 34px;
  --line-height-xxl: 38px;
}

&_space_default {
  --space-xxxs: 3px;
  --space-xxs: 6px;
  --space-xs: 9px;
  --space-s: 15px;
  --space-m: 18px;
  --space-l: 24px;
  --space-xl: 27px;
  --space-xxl: 36px;
  --space-xxxl: 45px;
  --space-xxxxl: 51px;
  --space-xxxxxl: 72px;
}

--header-footer-padding: 0;

&_gap_small {
  --gap: var(--space-xl);
}

@media screen and (max-width: 1024px) {
  --header-footer-padding: var(--gap);

  &_gap_small {
    --gap: var(--space-s);
   }
  }
}
